.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}


.dialogItems .active{
    color: blue;
}




.dialogItems  {
    padding: 10px;

}

.messages {
    padding: 10px;

}
.messages.message {

}